  # Backend
edutrack-api/target/
edutrack-api/.mvn/wrapper/maven-wrapper.jar
*.class

# Frontend
edutrack-web/node_modules/
edutrack-web/dist/
edutrack-web/.env

# Credenciales
*.env
application-prod.yml

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/